MYSQL_ADMIN_USER=admin
MYSQL_ADMIN_PASS=admin123
MYSQL_WEB_USER=web
MYSQL_WEB_PASS=web123
MYSQL_PORT=7777

NGINX_HTTP_PORT=8808

MAILHOG_IMAGE=mailhog/mailhog
MAILHOG_SMTP_PORT=1032
MAILHOG_WEB_PORT=8032

MAILER_DSN=smtp://platinium-tech-task-mailhog:1025?auth_mode=login
APP_ENV=dev

REDIS_PORT=6680
REDIS_ROOT_PASS=platinium
REDIS_USER=platinium
REDIS_PASS=platiniumRootPa$$